@using YC_House.ViewModels;
@model YC_House.ViewModels.StudentBasicInfoViewModel

<div id="QueryTerm">
    <div class="form-inline">
        @Html.DisplayNameFor(f => f.StudentId)：
        @Html.TextBoxFor(f => f.StudentId, new { @class = "form-control" })
        @Html.DisplayNameFor(f => f.Name)：
        @Html.TextBoxFor(f => f.Name, new { @class = "form-control" })
    </div>
</div>
<div id="toolBar">
    <button type="button" id="MstQueryBtn" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>查詢</button>
    <button type="button" id="MstAddBtn" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>新增</button>
</div>
<table id="table"
       data-show-columns="true"
       data-unique-id="StudentId"
       data-button-class="warning"
       data-show-fullscreen="true"
       data-search="true"
       data-visible-search="true"
       data-pagination="true"
       data-pagination-h-align="left"
       data-pagination-detail-h-align="right"
       data-page-size="10"
       data-page-list="[5,10, 20, 30, 100, all]"
       data-toolbar="#toolBar">
</table>

<div class="modal modal-wide" id="MstModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80vw" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">明細頁面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#basic" data-toggle="tab">
                                一般資料
                            </a>
                        </li>
                        <li><a href="#grades" data-toggle="tab">各科成績</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="basic">
                            <div class="form-horizontal" style="padding-top: 50px">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StudentId, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="StudentId">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sex, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Sex">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Weight, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Weight">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Heigh, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Heigh">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Residential_Address, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Residential_Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CellPhone, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="CellPhone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="grades">
                            <div style="padding-top: 50px">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChScores, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="ChScores">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MathScores, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="MathScores">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnScores, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="EnScores">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">關閉</a>
                <button type="button" id="saveModalButton" onclick="CallMstSave();" class="btn btn-primary" data-dismiss="modal">儲存</button>
            </div>
        </div>
    </div>
</div>

<script>
    var $modal = $('#MstModal');
    var $table = $('#table');

    $(function () {
        $("#MstQueryBtn").click(function () {
            Query();
        });

        initTable();

        //新增
        $("#MstAddBtn").click(function () {
            Edit();
        });

        $modal.on('show.bs.modal', function (e) {
            $('#myTab a:first').tab('show');
        })
    })

    function initTable() {
        $('#table').bootstrapTable('destroy').bootstrapTable({
            columns: [
                [{
                    field: 'operate',
                    title: '維護',
                    sortable: true,
                    align: 'center',
                    events: {
                        'click .edit': function (e, value, row) {
                            Edit(row['StudentId']);
                        },
                        'click .delete': function (e, value, row) {
                            Del(row['StudentId']);
                        }
                    },
                    formatter: function actionFormatter(value) {
                        return [
                            '<button type="button" class="edit btn btn-primary">編輯</button>',
                            '<button type="button" class="delete btn btn-primary">刪除</button>'
                        ].join('')
                    }
                }, {
                    field: 'StudentId',
                    title: '@Html.DisplayNameFor(f => f.StudentId)',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'Name',
                    title: '@Html.DisplayNameFor(f => f.Name)',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'Sex',
                    title: '@Html.DisplayNameFor(f => f.Sex)',
                    sortable: true,
                    align: 'center'
                }]
            ]
        })
    }

    function Query() {
        // 查詢條件
        var fields = $("#QueryTerm [type='text']").serializeArray();

        $.ajax({
            url: '@Url.Action("Read", "Home")',
            type: "POST",
            dataType: "json",
            data: fields,
            success: function (response) {
                var $table = $('#table');
                 $table.bootstrapTable('load',response);
            },
            error: function (r) {
                console.log(r.responseText);
            }
        });
    }

    function Edit(key = '') {
        $('#MstModal').data('IsAddType', key == '' ? true : false);
        $('#MstModal [name="StudentId"]').attr('readonly', key == '' ? false : true);

        if (key) {
            $.ajax({
                url: '@Url.Action("RowRead", "Home")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ keyValue: key }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    showModal("修改", response);
                },
                error: function (r) {
                    console.log(r.responseText);
                }
            });
        } else {
            showModal("新增");
        }
    }

    function Del(studentId) {
        $.ajax({
            url: '@Url.Action("Destroy", "Home")',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ StudentId: studentId }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $('#table').bootstrapTable('removeByUniqueId', response)
            },
            error: function (response) {
                window.dialog.showError("錯誤");
        }});
    }

    function CallMstSave() {
        var IsAddType = $('#MstModal').data('IsAddType');
        var form = objectifyForm($("#MstModal .modal-body :input").serializeArray());

        $.ajax({
            url: IsAddType ?
                '@Url.Action("Create", "Home")' :
                '@Url.Action("Update", "Home")',
            type: "POST",
            dataType: "json",
            data: { vm: form },
            success: function (r) {
                if (IsAddType) {
                    $('#table').bootstrapTable('insertRow', { index: 0, row: r });
                } else {
                    $('#table').bootstrapTable('updateByUniqueId', { id: r.StudentId, row: r });
                }
            },
            error: function (r) {
                console.log(r.responseText);
            }
        });
    }

    function showModal(title, row) {
        $modal.find('.modal-title').text(title)
        if (row) {
            $modal.data('id', row.id)
            for (var name in row) {
                if (row[name]) {
                    if ($('#MstModal').find('[name="' + name + '"]').is(':checkbox'))
                        $modal.find('[name="' + name + '"]').prop('checked', row[name])
                    else
                        $modal.find('[name="' + name + '"]').val(row[name])
                }
            }
        }
        else {
            $("#MstModal [type='text']").val('');
        }
        $('#MstModal').modal('show')
    }

    function objectifyForm(formArray) {
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }
</script>