@using YC_House.ViewModels;
@model YC_House.ViewModels.StudentBasicInfoViewModel

<div id="QueryTerm">
    <div class="form-inline">
        @Html.DisplayNameFor(f => f.StudentId)：
        @Html.TextBoxFor(f => f.StudentId, new { @class = "form-control" })
        @Html.DisplayNameFor(f => f.Name)：
        @Html.TextBoxFor(f => f.Name, new { @class = "form-control" })
    </div>
</div>
<div id="toolBar">
    <button type="button" id="MstQueryBtn" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>查詢</button>
    <button type="button" id="MstAddBtn" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>新增</button>
</div>
<table id="table"
       data-show-columns="true"
       data-unique-id="StudentId"
       data-button-class="warning"
       data-show-fullscreen="true"
       data-search="true"
       data-visible-search="true"
       data-pagination="true"
       data-pagination-h-align="left"
       data-pagination-detail-h-align="right"
       data-page-size="10"
       data-page-list="[5,10, 20, 30, 100, all]"
       data-toolbar="#toolBar">
</table>

<script>
    $(function () {
        $("#MstQueryBtn").click(function () {
            Query();
        });

        initTable();
    })

    function initTable() {
        $('#table').bootstrapTable('destroy').bootstrapTable({
            columns: [
                [{
                    field: 'operate',
                    title: '維護',
                    sortable: true,
                    align: 'center',
                    events: {
                        'click .edit': function (e, value, row) {
                            Edit(row['StudentId']);
                        },
                        'click .delete': function (e, value, row) {

                        }
                    },
                    formatter: function actionFormatter(value) {
                        return [
                            '<button type="button" class="edit btn btn-primary">編輯</button>',
                            '<button type="button" class="delete btn btn-primary">刪除</button>'
                        ].join('')
                    }
                }, {
                    field: 'StudentId',
                    title: '@Html.DisplayNameFor(f => f.StudentId)',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'Name',
                    title: '@Html.DisplayNameFor(f => f.Name)',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'Sex',
                    title: '@Html.DisplayNameFor(f => f.Sex)',
                    sortable: true,
                    align: 'center'
                }]
            ]
        })
    }

    function Query() {
        // 查詢條件
        var fields = $("#QueryTerm [type='text']").serializeArray();

        $.ajax({
            url: '@Url.Action("Read", "Home")',
            type: "POST",
            dataType: "json",
            data: fields,
            success: function (response) {
                var $table = $('#table');
                 $table.bootstrapTable('load',response);
            },
            error: function (r) {
                console.log(r.responseText);
            }
        });
    }

</script>